In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from pprint import pprint
import numpy
import json
from sqlalchemy import create_engine

In [2]:
database_path = "C:/Program Files/PostgreSQL/12/data"

In [3]:
# Create Engine
engine = create_engine('postgresql://postgres:Qd4+typo@localhost/Covid19')

conn = engine.connect()

In [5]:
list(pd.read_sql("SELECT * FROM data JOIN locations on data.LocationID = locations.LocationID", conn).columns)

['locationid',
 'date',
 'deaths',
 'confirmed',
 '7_day_daily_avg_confirmed',
 '7_day_daily_avg_deaths',
 'index',
 'locationid',
 'country',
 'state',
 'county',
 'iso2',
 'iso3',
 'population',
 'code3',
 'fips',
 'lattitude',
 'longitude',
 'location']

In [ ]:
url_deaths = "https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv"
url_confirmed = "https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"



df_deaths = pd.read_csv(url_deaths)
df_confirmed = pd.read_csv(url_confirmed)

In [10]:
df_deaths.fillna(0, inplace=True)
df_confirmed.fillna(0, inplace=True)

In [11]:
states_list = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado',
         'Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho', 
         'Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana',
         'Maine' 'Maryland','Massachusetts','Michigan','Minnesota',
         'Mississippi', 'Missouri','Montana','Nebraska','Nevada',
         'New Hampshire','New Jersey','New Mexico','New York',
         'North Carolina','North Dakota','Ohio',    
         'Oklahoma','Oregon','Pennsylvania','Rhode Island',
         'South  Carolina','South Dakota','Tennessee','Texas','Utah',
         'Vermont','Virginia','Washington','West Virginia',
         'Wisconsin','Wyoming']

In [32]:
list(df_deaths.columns[:12])

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 'Population']

In [36]:
sql_df = pd.DataFrame(columns=list(pd.read_sql("SELECT * FROM data JOIN locations on LocationID = LocationID", conn).columns))
sql_df

Empty DataFrame
Columns: [locationid, date, deaths, confirmed, confirmed7avg, deaths7avg, location_id, country, state, county, iso2, iso3, population, code3, fips, lattitude, longitude, location]
Index: []

In [43]:
df_deaths[df_deaths.columns[:12]]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
0,16,AS,ASM,16,60.0,0,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",55641
1,316,GU,GUM,316,66.0,0,Guam,US,13.444300,144.793700,"Guam, US",164229
2,580,MP,MNP,580,69.0,0,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",55144
3,630,PR,PRI,630,72.0,0,Puerto Rico,US,18.220800,-66.590100,"Puerto Rico, US",2933408
4,850,VI,VIR,850,78.0,0,Virgin Islands,US,18.335800,-64.896300,"Virgin Islands, US",107268
...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,0.0,Central Utah,Utah,US,39.372319,-111.575868,"Central Utah, Utah, US",0
3257,84070017,US,USA,840,0.0,Southeast Utah,Utah,US,38.996171,-110.701396,"Southeast Utah, Utah, US",0
3258,84070018,US,USA,840,0.0,Southwest Utah,Utah,US,37.854472,-111.441876,"Southwest Utah, Utah, US",0
3259,84070019,US,USA,840,0.0,TriCounty,Utah,US,40.124915,-109.517442,"TriCounty, Utah, US",0
3260,84070020,US,USA,840,0.0,Weber-Morgan,Utah,US,41.271160,-111.914512,"Weber-Morgan, Utah, US",0

In [12]:
combined_df = pd.DataFrame()

In [ ]:
covid_cases = {}                                  #make dictionary for all data
countries = df_deaths.Country_Region.unique()     #get list of countries

for country in countries:                         #If multiple countries
    states = df_deaths.Province_State.unique()
    
    covid_cases.update({country:{}})              #Add the new country name and create a sub-dict
    
    for state in states:
        if state in states_list:
            state_df = df_deaths[df_deaths.Province_State == state]
            counties = state_df.Admin2.to_list()
            covid_cases[country].update({state:{}})
            
            for county in counties:
                df = state_df[state_df.Admin2 == county].T[12:]    #columns start at 12 with one datapoint per column
                                                                #Transpose date columns to row index
                #df.index = pd.to_datetime(df.index)                #Set row index to datetime
                county_data = df.diff(1).fillna(0)                 #Find delta
                
                county_smoothed_7day = df.diff(7).fillna(0) / 7    #Find 7 day avg delta
                
                
                
                
                iso2 = state_df.iso2[state_df.Admin2 == county].values[0]    #State Abbreviation
                population = state_df.Population[state_df.Admin2 == county].values[0]   # population
                covid_cases[country][state].update({
                                                county:{
                                                    "lat" : str(state_df[state_df.Admin2 == county].Lat.values[0]),
                                                    "long" : str(state_df[state_df.Admin2 == county].Long_.values[0]),
                                                    "deaths" : [],
                                                    "deaths_7_day" : [],
                                                    "dates" : [],
                                                    "abbreviation": iso2,
                                                    "population": str(population)
                                            }})
                for m, y in enumerate(county_data):
                    for x in list(zip(county_data[y].index, county_data[y].values)):
                        covid_cases[country][state][county]['deaths'].append(int(x[1]))
                        covid_cases[country][state][county]['dates'].append(x[0])
                        
                for m, y in enumerate(county_smoothed_7day):
                    for x in list(zip(county_smoothed_7day[y].index, county_smoothed_7day[y].values)):
                        if covid_cases[country][state][county]['dates'][m] == x[0]:
                            covid_cases[country][state][county]['deaths_7_day'].append(int(x[1]))
                            
                                                                            
 


countries = df_confirmed.Country_Region.unique()
for country in countries:
    print(country, "{")
    states = df_confirmed.Province_State.unique()
    
    for n, state  in enumerate(states):
        if state in states_list:

            
            if n < 60:      # Useful for allowing only a few states to run.
                state_df = df_confirmed[df_confirmed.Province_State == state]
                counties = state_df.Admin2.to_list()
                print("    ", state, " #", len(counties), " counties.")
                for county in counties:
                    df = state_df[state_df.Admin2 == county].T[11:]    #columns start at 12 with one datapoint per column
                                                                    #Transpose date columns to row index
                    #df.index = pd.to_datetime(df.index)                #Set row index to datetime
                    county_data = df.diff(1).fillna(0)                 #Find delta
                    county_smoothed_7day = df.diff(7).fillna(0) / 7    #Find 7 day avg delta
                    iso2 = state_df.iso2[state_df.Admin2 == county]
                    
                    covid_cases[country][state][county].update({
                            "confirmed" : [],
                            "confirmed_7_day" : [],
                            "county_name_check" : county
                            })
                    for m, y in enumerate(county_data):
                        for x in list(zip(county_data[y].index, county_data[y].values)):
                            covid_cases[country][state][county]['confirmed'].append(int(x[1]))    
                            
                    for m, y in enumerate(county_smoothed_7day):
                        for x in list(zip(county_smoothed_7day[y].index, county_smoothed_7day[y].values)):
                            covid_cases[country][state][county]['confirmed_7_day'].append(int(x[1]))    
                    
    


with open('data.json', 'w') as fp:
    json.dump(covid_cases, fp)

print("Finished " )

print(df_deaths)